@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="text-center col-sm-6">
        <img class="col-12 rounded" src="~/img/layton_temple.jpg" alt="Layton Temple Image" />
        
        <br /> <br />

        <!--a tag link disguised as a redirection button that navigates the user to the Slot Availability View-->
               <a class="btn btn-primary" asp-action="SlotAvailability">Sign Up</a>
    </div>
    @* A bunch of text to just make it look pretty and it's put into columns.  *@
    <div class="col-sm-6">
        <br />
        <h3>Layton Utah Temple Tours</h3> <br />
        <h5>
            PLEASE SIGN-UP FOR SUNDAY TOURS ONLY.  WE WILL SOON HAVE A NEW SCHEDULE SINCE WE HAVE BEEN ASKED TO STOP
            ALL OUTSIDE TOURS. Please review the available slots ON SUNDAY ONLY and click on the button to sign up. Use the
            "quantity" field to let us know how many people will be in your group. Thank you!
        </h5> <br />

        <h5>General Tour Instructions</h5>
        <ul>
            <li>
                Masks are required
            </li>
            <li>
                Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer
            </li>
            <li>
                Dress casual, except on Sunday
            </li>
        </ul> <br />

        <h5>
            Special Accommodations (check the appropriate box when signing up for a tour)
        </h5>
        <ul>
            <li>
                Spanish-speaking tours are available on Thursday, Friday, Saturday or Sunday
            </li>
        </ul> <br />

        <h5>
            Available Tours
        </h5>
        <ul>
            <li>
                Tour (Outdoor): We have been asked to discontinue outside tours at this time
            </li>
            <li>
                Trailer Tour: All tours will be inside the trailer. Masks are required
            </li>
        </ul> <br />

        <h5>
            Please call 801-628-4488 or email LaytonTempleTours@gmail.com with questions or special requests.
        </h5> <br />

        <div>
            @* a link for where the temple is. That's pretty neat *@
            <h5>
                Location: <a href="https://www.google.com/maps/search/?api=1&amp;query=1500+E+Oak+Hills+Drive+Layton+UT+84040"
                             title="Show Map">
                    <b>Layton Utah Temple:</b> 1500 E Oak Hills Drive, Layton, UT 84040
                </a>
            </h5>
        </div>
    </div>

</div>