@{
    ViewData["Title"] = "Slot Availability";
}
<h1>@ViewData["Title"]</h1>

@model IEnumerable<timeSlot>

<div class="text-center col-12">
    <div class="text-center">
        <!--Table that displays time slots and tells whether slot is available or unavailable-->
        <table class="center table table-striped table-bordered table-hover table-info">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Book It!</th>
                </tr>
            </thead>

            <tbody>
                <!--Loops through all of the possible time slots to print them out here.-->
                <!--Information to loop through is located in a seperate .cshtml file called TimeSlotSummary.cshtml, which is imported into here-->
                @foreach (var x in Model)
                {
                    <partial name="TimeSlotSummary" model="x" />
                }
            </tbody>
        </table>
    </div>
</div>